@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">

    <h1 class="display-4">Student Marks Tracker</h1>
    <p class="lead text-muted">
        Efficiently manage student profiles, track academic performance, and generate report cards.
    </p>

    <hr class="my-4">

        <a asp-controller="Student" asp-action="Index" class="btn btn-primary btn-lg">
            View All Students
        </a>
    </div>